extends layout.pug
block content
    style
        include index.css

    div(id="main")
        h2(class="text-center") Welcome, #{user.name}
        img(src="/" + user.avatar)
        br
        a(href="/create.html" class="btn btn-default  btn-lg active") 创建投票
        br
        a(href="/logout" class="btn btn-default  btn-lg active") 登出