doctype html

html
    head
        title 投票系统
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body
        block content
        #footer
            P 简单的投票系统 &copy;2019