doctype html

html
    head
        title 投票系统
        script(src="/assets/axios.min.js")
        script(src="/assets/lodash.min.js")
    body
        block content
        #footer
            P 简单的投票系统 &copy;2019