extends layout.pug
block content

    div.jumbotron#main(style="width:100%; height:100%;")
        h1 Hello, this is a Vote system
        p If you don't have a account you can click the register
        a(href="/register" class="btn btn-default btn-lg active") 注册
        a(href="/login" class="btn btn-default btn-lg active") 登录
